<footer class="ampstart-footer flex flex-column items-center px3 ">
  <a href="https://blog.yamatatsu193.com/"><h3>やまたつ Blog</h3></a>
  <nav class="ampstart-footer-nav">
    <ul class="list-reset flex flex-wrap mb3">
      <li class="px1">
        <a
          class="text-decoration-none ampstart-label"
          href="https://twitter.com/yamatatsu193"
          >Twitter</a
        >
      </li>
      <li class="px1">
        <a
          class="text-decoration-none ampstart-label"
          href="https://github.com/yamatatsu"
          >Github</a
        >
      </li>
    </ul>
  </nav>
</footer>
