<header>
  <amp-img
    src="/images/logo.jpg"
    width="60"
    height="60"
    class="mx4"
    alt="Logo Yamatatsu"
  ></amp-img>
  <h1 class="mb1 px3">
    やまたつ Blog
  </h1>

  <p class="mb4 px3">
    失敗とかも書いていきたい
  </p>
</header>
